body{
    background: linear-gradient(to right, rgb(177, 250, 255), white);
    
}
#poste{
    margin: auto;
    width: 25px;
    height: 90px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    background-color: rgb(185, 185, 185); 
    border: 3px solid rgb(77, 77, 77); 
    border-radius: 5px;
}

#semaforo {
    border-radius: 5%;
    border: 2px solid black;
    display: flex; 
    flex-direction: column;
    margin: auto;
    width: 100px;
    border: 3px solid rgb(77, 77, 77); 
    background-color: rgb(185, 185, 185); 
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    align-items: center;
}
.light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}
.green {
    background-color: rgb(0, 119, 0);
}
.red {
    background-color: rgb(153, 0, 0);
}
.yellow {
    background-color: rgb(165, 165, 0);
}
.purple {
    background-color: rgb(69, 0, 134);
}

.rojo {
box-shadow: 0 0 20px 15px red;
background-color: rgb(255, 0, 0);
}
.amarillo{
    box-shadow: 0 0 20px 15px yellow;
    background-color: rgb(255, 255, 0);
}
.verde{
    box-shadow: 0 0 20px 15px rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

.moradito{
    box-shadow: 0 0 20px 15px rgb(140, 0, 255);
    background-color: rgb(132, 0, 255);
}
.pulsador{
    display: block;
    margin: 15px auto; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold;
    color: white;
    background-color: #000000; 
    border: none;
    border-radius: 5px; 
}